body {
  margin: 0;
  padding: 0;
  font-family: 'Yusei Magic', sans-serif;
}

table tbody tr:hover {
  opacity: 0.5;
}

.wrapCard {
  display: flex;
  flex-wrap: wrap;
}
.singleImage {
  width: 120px;
}
.inputFileBtnHide {
  opacity:0;
  appearance: none;
  position: absolute;
}
.wrapPreview {
  display: flex;
  padding: 5px 0;
}
.preview {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

#headerMessage {
  font-size: 24px;
}
#checkInMessage,
#cardCollectionMessage,
#aboutMessage {
  font-size: 48px;
}

#checkinAdd {
  width: 80%;
  margin: 20px auto;
  display: flex;
  padding: 10px;
}

#selectStoreWrap {
  display: flex;
}

#iconWrap .buttonItem:last-child{
  margin-left: auto;
}