body {
  margin: 0;
  padding: 0;
  font-family: 'Yusei Magic', sans-serif;
}
.wrapCard {
  display: flex;
  flex-wrap: wrap;
}
.wrapPreview {
  display: flex;
  padding: 5px 0;
}
.preview {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
#selectStoreWrap {
  display: flex;
}
#iconWrap .buttonItem:last-child{
  margin-left: auto;
}